.header {
    background-color: #f1f1f1;
    box-shadow: 0 7px 7px #2c2c2c;
}

.header-title{
    font-family: 'Blonde';
    font-size: 5rem;
    letter-spacing: -2px;
    padding-left: 2rem;
}

.header-menu {
    height: 100%;
    padding-right: 2rem;
}

.header-menu ul {
    gap: 2rem;
}

.header-menu ul li {
    font-size: 3rem;

    height: 100%;
}

.header-menu ul li a {
    color: black;
    text-decoration: none;

    border-radius: .5rem;

    transition: background-color .3s ease-in-out;
}

.header-menu ul li a:hover {
    filter: drop-shadow(0 0 4px #000000);
    -webkit-text-stroke: .5px rgb(71, 71, 71);
}

.navbar-toggler-icon {
    font-size: 2rem;
}